:root {
  --primary-color: #4f1a18;
  --secondary-color: #404544;
  --tertiary-color: #faebd9;
  --quaternary-color: #f6f1ee;
  background-color: #faebd9;
}

* {
  margin:0;
  padding:0;
  font-family: "this";
  src: ;
}

h1 {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  height: 4vh;
  width:100vw;
}

#hero {
  background-image: url("../images/meal-page-hero.jpg");
  background-size: cover;
  height: 40vh;
  width: 100vw;
  position: 100%;
  background-position: 50%;
  background-attachment: fixed;
  background-position: 090%;
  z-index: 9999;
}

form {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
}

.wine-page {
  font-weight: bold;
  text-decoration: none;
  color:blueviolet;
  font-size: larger;
}

.ingredients-list {
  display: block;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.food-container {
  display: flex;
}

.section {
  width: 100%;
}
.ingredients-list input{
  border: none;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  padding: 10px 32px;
  opacity: 0.8;
  font-weight: bold;
  font-size: 1.25vh;
  border-radius: 30px;
  box-shadow: none;
  transition: 0.5s;
}

.ingredients-list input:hover {
  opacity: 1;
  background-color:var(--secondary-color);
  cursor: pointer;
}

.ingredient {
  width: 50%;
  margin:.5vh;
}

.input-area {
  padding: 1vh;
}
#food-search-input{
  background-color: #f6f1ee;
  width: 40%;
  border: var(--secondary-color);
  font-size: 12px;
}

.input-area input{
 border-radius: 20px;
 font-weight: bold;
 height: 2vh;
 background-color: #f6f1ee;
 color: var(--secondary-color);
 
}

.inputValue {
  display: flex;
  justify-content: center;
  border-color: var(--secondary-color);
  
}

#input-btn {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  color: var(--tertiary-color);
  padding:10px 10px;
  width:7vw;
}

.inputValue {
  width: 50%;
}

.ingredients-list h3 {
  display: flex;
  justify-content: center;
  width: 50%;
}

.display {
  color:#4f1a18;
  width: 50%;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  height: 50%;
  padding-top: 30vh;
}

#intro {
  padding-top: 3vh;
  text-align: center;
  font-size: large;

}