
#modal1 {
    height: 100%;
}

#modal-box {
    height: 100%;
}

.buttons {
    border-radius: 25px;
}

/* Not populating on live url */
body {
    background-image: url("/images/landing-background.jpg");
}